{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="display-4">Добро пожаловать на Python Skills Tracker!</h1>
        <p class="lead">Мы команда энтузиастов Python, которые создали этот сайт с целью помочь вам отслеживать и
            развивать ваши навыки в программировании на Python. Мы верим, что непрерывное обучение и саморазвитие
            являются ключевыми факторами успеха в современном мире IT, поэтому наша цель - сделать процесс обучения
            проще и увлекательнее.</p>
        <p>На нашем сайте вы найдете множество полезных инструментов, которые помогут вам оценить свой уровень навыков в
            Python, отслеживать свой прогресс и ставить цели для развития. Мы предлагаем подробные уроки и задания,
            которые помогут вам улучшить вашу грамотность в Python, освоить новые концепции и изучить передовые методы
            программирования.</p>
        <p>Один из главных инструментов, которым мы гордимся, это трекер навыков. Этот инновационный инструмент поможет
            вам отслеживать ваш прогресс в реальном времени. Вы сможете составить персональный план обучения и
            наблюдать, как ваши навыки постепенно улучшаются. Трекер навыков также предлагает персонализированные
            рекомендации и ресурсы, чтобы вы могли расширить свои знания и навыки в Python еще больше.</p>
        <p>Мы также предлагаем общение в нашем сообществе, где вы сможете задавать вопросы, делиться знаниями и учиться
            от других участников. Мы верим в силу коллективного развития, поэтому наша цель - создать дружественное и
            поддерживающее сообщество, где каждый чувствует себя приветствуемым и получает помощь, которую ему
            нужно.</p>
        <p>Мы надеемся, что наш сайт будет полезным инструментом для вас в вашем пути к совершенствованию навыков
            программирования на Python. Мы всегда открыты для обратной связи и предложений, чтобы сделать наш сайт еще
            лучше, поэтому не стесняйтесь связаться с нами.</p>
        <p>Спасибо, что выбрали {{ title }}! Мы желаем вам успехов в вашем путешествии по изучению Python и
            развитию ваших навыков!</p>
    </div>
{% endblock %}