{% extends 'base.html' %}

{% block content %}

    <!-- ======= Querys Section ======= -->
    <section id="querys" class="services">
        <div class="container">
            <div class="row gx-5">
                {% for query in querys %}
                    <div class="col-md-6 mt-4 mt-md-5">
                        <div class="icon-box" style="color: tomato; font-size: 1.5rem">
                            <i class="bi bi-binoculars"></i>
                            <h4 class="d-inline">
                                <a class="link-dark"
                                   href="{% url 'vacancies' %}?query={{ query.id }}">{{ query.name }}</a>
                            </h4>
                        </div>

                        <div class="salary-date">
                            <p class="fs-3 text-danger"><strong>от 100 000 ₽ до 250 000 ₽</strong></p>
                        </div>

                        <p><strong>Количество вакансий: 9 </strong></p>

                        <div class="row gx-5">
                            <div class="col-md-6 mt-4 mt-md-5">
                                <p>Вакансия 1</p>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-5">
                                <p>Вакансия 1</p>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-5">
                                <p>Вакансия 1</p>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-5">
                                <p>Вакансия 1</p>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Querys Section -->

{% endblock %}