{% extends 'base.html' %}
{% load guide_skills_tags %}

{% block content %}
    <!-- ======= Querys Section ======= -->
    <section id="querys" class="services">
        <div class="container">

           {% include 'guide/includes/admin/add_queris.html' %}
            <br>
           {% include 'guide/includes/admin/start_parser.html' %}

            <div class="row gx-5">
                {% for key, value in querys.items %}
                    <div class="col-md-6 mt-4 mt-md-5">
                        <div class="icon-box" style="color: tomato; font-size: 1.5rem">
                            <i class="bi bi-binoculars"></i>
                            <h4 class="d-inline">
                                <a class="link-dark"
                                   href="{% url 'vacancies' %}?query={{ key }}">{{ value.name }}
                                </a>
                            </h4>

                             {% include 'guide/includes/admin/del_queris.html' %}
                        </div>

                        <div class="salary-date">
                            <p class="fs-3 text-danger"><strong>{{ value.salary }}</strong></p>
                        </div>

                        <p><strong>Количество вакансий: {{ value.count }} </strong></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Querys Section -->

{% endblock %}