{% extends 'base.html' %}
{% load guide_skills_tags %}

{% block content %}
    <!-- ======= Vacancy Section ======= -->
    <section id="vacancy" class="services">
        <div class="container">
            <div class="icon-box" style="color: tomato; font-size: 1.5rem">
                <i class="bi bi-binoculars"></i>
                <h4 class="d-inline">
                    <a class="link-dark" href="{% url 'vacancy' vacancy_id %}">{{ vacancy_data.name }}</a>
                </h4>
            </div>

            <div class="salary-date">
                <p class="fs-3 text-danger"><strong>{{ vacancy_data.salary }}</strong></p>
                <p class="text-muted">{{ vacancy_data.date }}</p>
            </div>

            {% autoescape off %}
                <p>{{ vacancy_data.requirement }}</p>
                <p>{{ latter }}</p>
            {% endautoescape %}

        </div>
    </section><!-- End Vacancy Section -->
{% endblock %}