{% extends 'base.html' %}
{% load guide_skills_tags %}
{% load static %}

{% block content %}
    <!-- ======= Vacancy Section ======= -->
    <section id="vacancy" class="services">
        <div class="container">
            <h1>Для прохождения тестового собеседования перейдите в чат-бот отсканировав камерой QR код ниже</h1>
            <img src="{% static 'guide/images/qr-telegram.png' %}" alt="Изображение 1" class="img-fluid mb-2">
        </div>
    </section><!-- End Vacancy Section -->
{% endblock %}