{% extends 'base.html' %}
{% load guide_skills_tags %}

{% block content %}
    <!-- ======= Vacancy Section ======= -->
    <section id="vacancy" class="services">
        <div class="container">
            <h1>{{ vacancy_data.name }}</h1>

            <div class="salary-date">
                <p class="fs-3 text-danger"><strong>{{ vacancy_data.salary }}</strong></p>
                <p class="text-muted">{{ vacancy_data.date }}</p>
            </div>

            <p>Требуемый опыт работы: {{ vacancy_data.experience }}</p>
            <p>{{ vacancy_data.employment }}, {{ vacancy_data.schedule }}</p>

            <a href="{{ vacancy_data.url }}" class="btn btn-info" role="button">Откликнуться</a>
            <a href="{% url 'response' vacancy_id 'yandex'%}" class="btn btn-info yandex" role="button">Сопроводительное письмо(Яндекс)</a>
            <a href="{% url 'response' vacancy_id 'openai'%}" class="btn btn-info openai" role="button">Сопроводительное письмо(OpenAI)</a>
            <a href="{% url 'interview' %}" class="btn btn-info" role="button">Тестовое собеседование</a>

            {% autoescape off %}
                <p>{{ vacancy_data.description }}</p>
            {% endautoescape %}

            {% skills_tags vacancy_data.skills %}

            <br><br>
        </div>
    </section><!-- End Vacancy Section -->
{% endblock %}