{% extends 'base.html' %}
{% load guide_skills_tags %}

{% block content %}

    {% include 'guide/includes/pagination.html' %}

    <!-- ======= Vacancies Section ======= -->
    <section id="vacancies" class="services">
        <div class="container">
            <div class="row gx-5">
                {% for vacancy in vacancies %}
                    <div class="col-md-6 mt-4 mt-md-5">
                        <div class="icon-box" style="color: tomato; font-size: 1.5rem">
                            <i class="bi bi-binoculars"></i>
                            <h4 class="d-inline">
                                <a class="link-dark" href="{% url 'vacancy' vacancy.id %}">{{ vacancy.name }}</a>
                            </h4>
                        </div>

                        <div class="salary-date">
                            <p class="fs-3 text-danger"><strong>{{ vacancy.salary }}</strong></p>
                            <p class="text-muted">{{ vacancy.date }}</p>
                        </div>

                        {% autoescape off %}
                            <p>{{ vacancy.requirement }}</p>
                        {% endautoescape %}

                        {% skills_tags vacancy.skills %}

                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Vacancies Section -->

    {% include 'guide/includes/pagination.html' %}

{% endblock %}