{% extends 'base.html' %}
{% load guide_skills_tags %}

{% block content %}
    <!-- ======= Vacancy Section ======= -->
    <section id="vacancy" class="services">
        <div class="container">
            <h1>{{ object_list.name }}</h1>

            <div class="salary-date">
                <p class="fs-3 text-danger"><strong>{{ object_list.salary }}</strong></p>
                <p class="text-muted">{{ object_list.date }}</p>
            </div>

            <p>Требуемый опыт работы: {{ object_list.experience }}</p>
            <p>{{ object_list.employment }}, {{ object_list.schedule }}</p>

            <a href="{{ object_list.url }}" class="btn btn-info" role="button">Откликнуться</a>
            <a href="{% url 'response' vacancy_id 'yandex'%}" class="btn btn-info yandex" role="button">Сопроводительное письмо(Яндекс)</a>
            <a href="{% url 'response' vacancy_id 'openai'%}" class="btn btn-info openai" role="button">Сопроводительное письмо(OpenAI)</a>
            <a href="{% url 'interview' %}" class="btn btn-info" role="button">Тестовое собеседование</a>

            {% autoescape off %}
                <p>{{ object_list.description }}</p>
            {% endautoescape %}

            {% skills_tags object_list.skills %}

            <br><br>
        </div>
    </section><!-- End Vacancy Section -->
{% endblock %}