{% extends 'base.html' %}
{% load guide_skills_tags %}

{% block content %}
    <!-- ======= Vacancy Section ======= -->
    <section id="vacancy" class="services">
        <div class="container">
            <div class="icon-box" style="color: tomato; font-size: 1.5rem">
                <i class="bi bi-binoculars"></i>
                <h4 class="d-inline">
                    <a class="link-dark" href="{% url 'vacancy' vacancy_id %}">{{ vacancy_data.name }}</a>
                </h4>
            </div>

            <div class="salary-date">
                <p class="fs-3 text-danger"><strong>{{ vacancy_data.salary }}</strong></p>
                <p class="text-muted">{{ vacancy_data.date }}</p>
            </div>

            {% autoescape off %}
                <p>{{ vacancy_data.requirement }}</p>
            {% endautoescape %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" onclick="showInput('GPT')">Сопроводельное GPT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="showInput('Яндекс')">Сопроводельное Яндекс</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" onclick="showInput('GPT')">Собес GPT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="showInput('Яндекс')">Собес Яндекс</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <input type="text" id="textInput" placeholder="Название пункта будет тут" style="display: none;"
                   class="form-control mt-3">

        </div>
    </section><!-- End Vacancy Section -->

    <script>
        function showInput(text) {
            var input = document.getElementById('textInput');
            input.style.display = 'block';
            input.value = text;
        }
    </script>
{% endblock %}